h1 {
    font-size: 36px;
    text-align: center;
    background-color:rgb(189, 113, 255);
    color:rgb(59, 3, 76);
}
#top {
  position: fixed;
  left: 10px;
  bottom: 10px;
  padding: 6px 10px 6px 10px;
  font-size: 12px;
  border-radius: 30px;
  background-color: #4ea5bd;
  color: #ffffff;
  text-decoration: none;
}
h2.h2id {
    text-align: center;
    border: 2px solid #a672e0;
    color: #a672e0;
    padding: 6px;
    border-radius: 50px 10px;
}