h1 {
    font-size: 36px;
    text-align: center;
    background-color:rgb(189, 113, 255);
    color:rgb(59, 3, 76);
}
#container {
    display: flex;
    flex-direction: row-reverse;
  }
.table_of_contents li {
    display: block;
    text-align: center;
    margin: 0px 0px 5px 0px;
    padding: 5px 5px 5px 5px;
    border-right: solid 4px #d0a0f7;
    border-left: solid 4px #d0a0f7;
    background-color: #f1dffc;
}

.table_of_contents a {
    text-decoration: none;
    color: #7801ff;
}
.table_of_contents{
    width: 30%;
    margin: 10px 0 10px 0;
}
.main_body {
    width: 70%;
    margin: 10px 0 10px 0;
}
#top {
  position: fixed;
  left: 10px;
  bottom: 10px;
  padding: 6px 10px 6px 10px;
  font-size: 12px;
  border-radius: 30px;
  background-color: #4ea5bd;
  color: #ffffff;
  text-decoration: none;
}
h2.h2id {
    text-align: center;
    border: 2px solid #a672e0;
    color: #a672e0;
    padding: 6px;
    border-radius: 50px 10px;
}